<div.info-container>
  <h3.highlight>Allstate Extended Vehicle Care</h3>
  <div.light>For as little as $19/mo, we'll pay for repairs after your manufacturer's warraniy expires.</div>
</div>

style {
  .info-container {
    padding: 20px 30px;
    background-color:rgb(1, 51, 160);
  }
  .highlight{
      color: rgb(120, 200, 240);
  }
  .light{
    opacity:0.8;
  }
}